.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}

/* A media query consists of an optional media type (all, handheld, print, TV and so on) 
and any number of optional expressions that limit when the query will trigger, such as width,
 pixel-density or orientation. Media queries are part of CSS3 and enable developers to customize
  their content for different presentation mediums.

At the basic level, media queries enable an email developer to create a responsive email by
 detecting the width of the display. For this purpose, the most commonly used query is max-width.
  Any width that is less than the max-width specified, all of the CSS within the query will take effect. */